{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pagPrin.css') }}">
{% endblock %}
<div id="modalNormas" class="modal">
    <div class="modal-contenido">
        <a href="#" class="cerrar">&times;</a>
        <h2> Normas de la comunidad</h2>
        <ul>
            <li>Respeto mutuo: No insultar, agredir ni descalificar a otros usuarios.</li>
            <li>Nada de discriminaci贸n: Evitar comentarios racistas, sexistas, homof贸bicos o cualquier forma de odio.</li>
            <li>Lenguaje apropiado: No usar lenguaje ofensivo, vulgar o violento.</li>
            <li>Evitar spam: No repetir mensajes, no publicar enlaces irrelevantes o publicidad no autorizada.</li>
            <li>No al acoso: Est谩 prohibido hostigar, perseguir o molestar a otros usuarios.</li>
            <li>Contenido seguro: No compartir material expl铆cito, violento o ilegal.</li>
            <li>Privacidad: No publicar datos personales tuyos ni de otros.</li>
            <li>Reportes: Us谩 la funci贸n de reporte en lugar de responder con agresi贸n.</li>
        </ul>
    </div>
</div>
